flask
flask-cors
google-generativeai
requests
python-dotenv
opencv-python
Pillow
SpeechRecognition
pyttsx3
psutil
duckduckgo-search
apscheduler
apprise
pydirectinput
pyautogui
pyperclip
speedtest-cli
wikipedia-api
